name: "garages_training"

on:
  push:
    branches: [ master ]
  schedule:
  - cron: "*/5 * * * *"
jobs:
  training:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        pip install tensorflow
        pip install -r requirements.txt
    - name: Run a one-line script
      run: python -m ./api_folder/predictions/training/train_garage_models.py
    - name: switching from HTTPS to SSH
      run: git remote set-url origin git@github.com:jakeva/ucfparking.git
    - name: check for changes
      run: git status
    - name: stage changed files
      run: git add .
    - name: commit changed files
      run: |
        git config --global user.email "jakev224@gmail.com"
        git config --global user.name "Jake"
        git commit -m "Upload the updated trained models for each garage."
    - name: fetch from master
      run: git fetch origin master
    - name: push code to master
      run: git push origin HEAD:master