name: "garages_training"

on:
  push:
    branches: [ master ]
#  schedule:
#  - cron: "30 2 * * 3"
jobs:
  training:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies and build package
      run: |
        pip install tensorflow
        pip install -r requirements.txt
        python -m pip install -e .
    - name: Run a one-line script
      run: |
        cd api/predictions/training/
        python ./train_garage_models.py
    - name: stage changed files
      run: git add .
    - name: commit changed files
      run: |
        git config --local user.email "jakev224@gmail.com"
        git config --local user.name "Jake"
        git commit -m "Upload the updated trained models for each garage."
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}