name: "Update cached data"

on:
  push:
    branches:
      - master
#  schedule:
#  - cron: "0 * * * *" #https://crontab.guru/


env:
  DB_HOST: ${{ secrets.DB_HOST }}
  DB_NAME: ${{ secrets.DB_NAME }}
  DB_PASS: ${{ secrets.DB_PASS }}
  DB_PORT: ${{ secrets.DB_PORT }}
  DB_USER: ${{ secrets.DB_USER }}

jobs:
  update_cache:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies and build package
      run: |
        pip install tensorflow
        pip install -r requirements.txt
        python -m pip install -e .
    - name: Run a one-line script
      run: |
        cd api/deploy/
        python ./cache_endpoints.py
    - name: stage changed files
      run: git add .
    - name: commit changed files
      run: |
        git config --global user.email "jakev224@gmail.com"
        git config --global user.name "Github Action Bot"
        git commit -m "Update of the cached data."
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}